<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">
                    Sumário
                </div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-chart-area"></i>
                    </div>
                    Resumo
                </a>
                <div class="sb-sidenav-menu-heading">
                    Cadastros
                </div>
                <a class="nav-link collapsed" routerLink="/peca-form" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i>
                    </div>
                    Peças
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">
                            Adicionar
                        </a>
                        <a class="nav-link" href="layout-sidenav-light.html">
                            Atualizar
                        </a>
                        <a class="nav-link" href="layout-sidenav-light.html">
                            Excluir
                        </a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-book-open"></i>
                    </div>
                    Serviços
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="login.html">
                            Adicionar
                        </a>
                        <a class="nav-link" href="register.html">
                            Atualizar
                        </a>
                        <a class="nav-link" href="password.html">
                            Excluir
                        </a>
                    </nav>                    
                </div>
                <div class="sb-sidenav-menu-heading">
                    Verificar
                </div>
                <a class="nav-link collapsed" href="charts.htmil" data-toggle="collapse" data-target="#collapseCharts" aria-expanded="false" aria-controls="collapseCharts">
                    <div class="sb-nav-link-icon">    
                        <i class="fas fa-table"></i>
                    </div>
                    Peças Cadastradas
                    <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                    <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-table"></i>
                    </div>
                        Serviços em Andamento
                    </a>
                    <a class="nav-link" href="a.html">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-table"></i>
                        </div>
                        Serviços Concluídos
                    </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">
                TESTE
            </div>
            SEMFAZ
        </div>
    </nav>
</div>
